
* {
  background-image: url('https://5.imimg.com/data5/SELLER/Default/2023/7/322900116/XE/OI/SN/107827373/react-js-development-service.jpg');
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  overflow: hidden;
}